@import url("https://fonts.googleapis.com/css?family=Montserrat:700&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: hsl(240, 78%, 98%);
    color: hsl(232, 13%, 33%);
    background-image: url(images/bg-top.svg), url(images/bg-bottom.svg);
    background-position: top right, bottom left;
    background-repeat: no-repeat, no-repeat;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    text-align: center;
    min-height: 100vh;
}

.active {
    margin: auto;
    max-width: 100%;
    width: 100vw;
}

h1 {
    color: hsl(233, 13%, 49%);
    font-size: 2em;
}

.toggle-container {
    color: hsl(234, 14%, 74%);
    margin-bottom: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
	gap: 20px;
}

.toggle-container label {
    background-image: linear-gradient(
        to right,
        hsl(236, 72%, 79%),
        hsl(237, 63%, 64%)
    );
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    margin: 0 10px;
    position: relative;
    height: 30px;
    width: 60px;
}

.toggle-container label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2.5px;
    left: 2.5px;
    height: 25px;
    width: 25px;
    transition: transform 0.4s ease;
}

.toggle-container input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-container input:checked + label .ball {
    transform: translateX(30px);
}

.container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

h2 {
    margin: 0;
    width: 100%;
    font-size: 15px;
    text-align: center;
}
.plan {
    background: white;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    padding: 30px;
    margin: 10px;
    font-size: 15px;
    color: hsl(233, 13%, 49%);
}

.plan p {
    margin: 0;
    color: hsl(232, 13%, 33%);
    font-size: 4rem;
    text-align: center;
	min-width: 260px;
}

.plan .monthly {
    display: none;
}

.show-monthly .plan .monthly {
    display: block;
}

.show-monthly .plan .annually {
    display: none;
}

.plan ul {
    border-top: 1px solid hsl(234, 14%, 74%);
    padding: 0;
    list-style-type: none;
}

.plan ul li {
    border-bottom: 1px solid hsl(234, 14%, 74%);
    padding: 20px 5vw;
}

.plan.recommended ul {
    border-top: 1px solid white;
}

.plan.recommended ul li {
    border-bottom: 1px solid white;
}
.plan.recommended {
    background-image: linear-gradient(
        to right,
        hsl(236, 72%, 79%),
        hsl(237, 63%, 64%)
    );
    color: white;
    transform: scale(1.15);
}

.plan.recommended > * {
    transform: scale(0.869);
}
.plan button {
    cursor: pointer;
    background-image: linear-gradient(
        to right,
        hsl(236, 72%, 79%),
        hsl(237, 63%, 64%)
    );
    border: none;
    border-radius: 5px;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 2px;
    padding: 15px;
    margin-top: 10px;
    width: 100%;
    text-transform: uppercase;
}

.plan button:hover {
    background-image: none;
    background-color: #fff;
    color: hsl(237, 63%, 64%);
    border: 1px solid hsl(237, 63%, 64%);
}

.plan.recommended button {
    background-image: none;
    background-color: #fff;
    color: hsl(237, 63%, 64%);
}

.plan.recommended button:hover {
    background-image: linear-gradient(
        to right,
        hsl(236, 72%, 79%),
        hsl(237, 63%, 64%)
    );
    color: white;
    border: 1px solid white;
}

.recommended > .price {
    color: white;
}

@media screen and (min-width: 360px) and (max-width: 1100px){
    .container {
        flex-direction: column;
    }

    .plan.recommended {
        transform: scale(1);
    }

    .plan.recommended > * {
        transform: scale(1);
    }
}
